
:root{
    --color-text:#212121;
    --second-color-text:#757575;
    --alternative-color:#2196F3;
    --color-hero-background:#FFFFFF;
    --background-hero:#2F303A;
    --background-team:#F5F4FA;
    --border-header:#ECECEC;
    --social-color-team:#AFB1B8;
}

body{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    color:var(--color-text);
    background-color: var(--color-hero-background);
}

.list{
    padding: 0;
    list-style: none;
    margin: 0;
}

h1,h2,h3{
    margin: 0;
}

.container{
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

/* HEADER SITE */
.header{
    border-bottom: 1px solid var(--border-header);
}

.header .container{
    display: flex;
    align-items: center;
}

.logo-nav{
    margin-right: 93px;

    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--alternative-color);
    font-family: Raleway, sans-serif;
}

.second-logo{
    color: var(--color-text);
}

.site-nav .link{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-text);

}

.site-nav .link:hover,
.site-nav .link:focus{
    color:var(--alternative-color);
}

.auth-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;


    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--second-color-text)
}

.auth-nav .link:hover,
.auth-nav .link:focus{
    color:var(--alternative-color);
}

.link.now{
    color: var(--alternative-color);
}

.navbar{
    display: inline-flex;
    align-items: center;
}

.site-nav{
    display: inline-flex;
}

.site-nav .item:not(:last-child){
    margin-right: 50px;
}

.auth-nav{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.auth-nav .item +.item{
    margin-left: 30px;
}

.auth-nav .item a{
    display: inline-flex;
}

.auth-nav .item:hover a{
    color:var(--alternative-color);
}


.auth-nav .icon{
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}

/* HERO PAGE */

.hero{
    max-width: 1600px;
    height: 600px;
    background-color: var(--color-text);
    background-image: linear-gradient(to right,rgb(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(./images/background.jpg) ;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.hero-title{
    padding-top: 200px;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color:var(--color-hero-background);
}

.hero-button{
    padding: 10px 32px;
    
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--color-hero-background);
    background-color: var(--alternative-color);

    border: none;
    border-radius: 4px;
}

/* FEATURES */
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.section.work{
    padding-top: 0;
}

.features{
    display: inline-flex;
}

.features .item{
    width: 270px;
}

.background-icon{
    background-color: var(--background-team);
    padding: 25px 100px;
    margin-bottom: 30px;
}

.features .item .icon{
    width: 70px;
    height: 70px;
}

.features .title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features .text{
    margin: 0;
    margin-top: 10px;
    
    font-size: 14px;
    line-height: 1.71;
    
    color: var(--second-color-text);
}

.features .item:not(:last-child){
    margin-right: 30px;
}

/* WHAT DO WE DO */

.work-title,
.team-title{
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}


.list.work{
    display: inline-flex;
}

.work .item:not(:last-child){
    margin-right: 30px;
}

/* OUR TEAM */

.section.team {
    background-color: var(--background-team);
}

.list.team{
    display: inline-flex;
}

.list.team .item{
    background: var(--color-hero-background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team .item:not(:last-child){
    margin-right: 30px;
}

.team .item img{
    display: block;
}

.team-name{
    margin: 0;
    margin-top: 30px;
    margin-bottom: 10px;

    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-job{
    margin: 0;
    
    text-align: center;
    font-size: 16px;
    line-height: 1.19;

    color: var(--second-color-text);
}

/* ICON OUR TEAM */

.social{
    display: inline-flex;
    margin:16px 32px 30px 32px;
}

.social-link{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    text-decoration: none;
    color:var(--social-color-team);
}

.social-link:hover,
.social-link:focus{
    color:var(--color-hero-background);
    background: var(--alternative-color);
}

.icon{
    width: 20px;
    height: 20px;
    fill:currentColor
}

.social-link:not(:last-child){
    margin-right: 10px;
}


/* BRANDS */

.clients-title{
    margin-bottom: 50px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.clients{
    display: flex;
}

.clients .brand-link{
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 170px;
    height: 92px;
    text-decoration: none;
    border: 1px solid var(--social-color-team);
    border-radius: 4px;
    color: var(--social-color-team);
}

.clients .item +.item{
    margin-left: 30px;
}

.brand-link:hover,
.brand-link:focus {
    color:var(--alternative-color);
    border-color:var(--alternative-color);
}

.clients .brand-link .icon{
    width: 106px;
    height: 60px;
    fill:currentColor;
}

/* FOOTER */

.footer{
    padding:60px 0;
    background-color: var(--background-hero);
}

.footer .logo-nav{
    display: block;
    margin-bottom: 20px;
}

.logo-footer{
    color: var(--color-hero-background);
}


.adress .link{
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    color: var(--color-hero-background);
}

.adress .link.contact{
    color:rgba(255, 255, 255, 0.6);;
}

.link.contact:hover,
.link.contact:focus{
    color:var(--alternative-color);
}

.footer-cont{
    display: flex;
}

.social-footer{
    margin-left: 70px;
}

.social-footer .title{
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--color-hero-background);
}

.social-logo{
    display: inline-flex;
    margin-top: 20px;
}

.social-logo .social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255,0.1);
    color:var(--color-hero-background)
}

.social-logo .social-link:hover,
.social-logo .social-link:focus{
    background-color: var(--alternative-color);
}

.social-logo .social-link .icon{
    width: 20px;
    height: 20px;
    color: currentColor;
}

/* PORTFOLIO-----PORTFOLIO-----PORTFOLIO */

/* MAIN PORTFOLIO */

.list.filter{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.list.filter .item:not(:last-child){
    margin-right: 8px;
}

.button-filter{
    border-radius: 4px;
    padding: 6px 22px;
    border: none;

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;

    background-color: var(--background-team);
}

.button-filter:hover,
.button-filter:focus{
    color:var(--color-hero-background);
    background-color: var(--alternative-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list.project{
    display: flex;
    flex-wrap: wrap;
    /* gap:30px; */
}

.list.project .items{
    box-sizing: border-box;
    margin-right: 30px;
    margin-bottom: 30px;
}

.list.project .items:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list.project .items img{
    display: block;
}

.list.project .items:nth-child(3n){
    margin-right: 0;
}

.list.project .items:nth-last-child(-n+3){
    margin-bottom: 0;
}

.meta{
    width: 370px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;


}


.meta .title{
    padding: 20px 24px 4px 24px;
    text-align: start;
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing:0.06em;
}

.meta .text{
    box-sizing: border-box;
    padding: 0 24px 20px 24px;
    text-align: start;
    
    margin: 0;
    font-size: 16px;
    line-height: 1.88;
    color:var(--second-color-text);
}